@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Sedgwick+Ave+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Rubik:wght@400;500;600;800;900&family=Sedgwick+Ave+Display&display=swap");
@keyframes shape-anim-lt {
  0% {
    left: 15px;
    top: 50px;
  }
  20% {
    left: 20px;
    top: 65px;
  }
  40% {
    left: 25px;
    top: 65px;
  }
  60% {
    left: 30px;
    top: 70px;
  }
  80% {
    left: 35px;
    top: 80px;
  }
  100% {
    left: 40px;
    top: 80px;
  }
}
@keyframes shape-anim-lb {
  0% {
    left: 15px;
    bottom: 60px;
  }
  20% {
    left: 20px;
    bottom: 75px;
  }
  40% {
    left: 25px;
    bottom: 75px;
  }
  60% {
    left: 30px;
    bottom: 80px;
  }
  80% {
    left: 35px;
    bottom: 85px;
  }
  100% {
    left: 40px;
    bottom: 85px;
  }
}
@keyframes shape-anim-rt {
  0% {
    right: 20px;
    top: 70px;
  }
  20% {
    right: 25px;
    top: 85px;
  }
  40% {
    right: 25px;
    top: 90px;
  }
  60% {
    right: 30px;
    top: 90px;
  }
  80% {
    right: 35px;
    top: 95px;
  }
  100% {
    right: 40px;
    top: 95px;
  }
}
@keyframes shape-anim-rb {
  0% {
    right: 15px;
    bottom: 60px;
  }
  20% {
    right: 20px;
    bottom: 75px;
  }
  40% {
    right: 25px;
    bottom: 75px;
  }
  60% {
    right: 30px;
    bottom: 80px;
  }
  80% {
    right: 35px;
    bottom: 85px;
  }
  100% {
    right: 40px;
    bottom: 85px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

header ul li a {
  font-family: "Rubik", sans-serif;
}

header h2 {
  color: #00373E;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: -3px;
  cursor: pointer;
  border: 1px solid #00373E;
  border-radius: 120px 70px 20px 50px;
  box-shadow: 0 0 10px #00373E;
  padding: 10px;
}

.faq_title button, .hero_container button, footer .footer_top .footer_top_left button, header .buttons button {
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: #00373E;
  cursor: pointer;
  position: relative;
}
.faq_title button::after, .hero_container button::after, footer .footer_top .footer_top_left button::after, header .buttons button::after {
  content: "";
  position: absolute;
  left: 5px;
  bottom: 0;
  border-radius: 10px;
  background-color: #00373E;
  transform: scaleX(0);
}
.faq_title button:hover, .hero_container button:hover, footer .footer_top .footer_top_left button:hover, header .buttons button:hover {
  font-weight: bold;
}
.faq_title button:hover::after, .hero_container button:hover::after, footer .footer_top .footer_top_left button:hover::after, header .buttons button:hover::after {
  position: absolute;
  width: 90%;
  height: 15%;
  transform: scaleX(1);
  transition: all 0.5s ease;
}

header {
  width: 100%;
  height: 10vh;
  background-color: #F8F6F5;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: px;
}
header .fa-bars {
  display: none;
}
@media (max-width: 600px) {
  header .fa-bars {
    display: inline-block;
  }
}
header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header ul li a {
  text-decoration: none;
  color: #00373E;
  border-bottom: 2px solid transparent;
}
header ul li a:hover {
  font-weight: 500;
  border: 1px solid #00373E;
  border-radius: 120px 70px 20px 50px;
  box-shadow: 0 0 10px #00373E;
  padding: 10px;
  transition: all 0.4s ease;
}
@media (max-width: 600px) {
  header ul {
    display: none;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  background-color: #F8F6F5;
  width: 100%;
  height: 50vh;
}
footer .footer_top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 70%;
  margin: 20px;
}
footer .footer_top .footer_top_left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  width: 30%;
  background-color: #00373E;
  border-radius: 10px;
  padding: 25px;
  height: 100%;
  position: relative;
}
footer .footer_top .footer_top_left h3 {
  color: white;
  font-weight: 400;
  font-size: 25px;
}
footer .footer_top .footer_top_left p {
  color: white;
  font-size: 14px;
  z-index: 1;
}
footer .footer_top .footer_top_left button {
  align-self: flex-start;
  z-index: 1;
}
footer .footer_top .footer_top_left div {
  position: absolute;
  background-color: burlywood;
  opacity: 0.7;
  left: 0;
  bottom: 0;
  transform: skew(150deg) rotateY(20deg);
  width: 30%;
  height: 60%;
  overflow: hidden;
  z-index: 0;
  border-radius: 250px 300px;
}
footer .footer_top .footer_top_right {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  width: 60%;
  padding: 25px;
  background-color: white;
  border-radius: 10px;
  height: 100%;
}
footer .footer_top .footer_top_right .pages {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
}
footer .footer_top .footer_top_right .pages a {
  text-decoration: none;
  color: #00373E;
}
footer .footer_top .footer_top_right .info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
  color: #00373E;
}
footer .footer_top .footer_top_right .info a {
  text-decoration: none;
  color: #00373E;
}
footer .footer_top .footer_top_right .social {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
  color: #00373E;
}
footer .footer_top .footer_top_right .social a {
  text-decoration: none;
  color: #00373E;
}

.hero {
  width: 100%;
  height: 100vh;
  background-color: #F8F6F5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: px;
  height: 90vh;
}
.hero_container {
  width: 85%;
  height: 80vh;
  background-color: #00373E;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-direction: column;
  position: relative;
}
.hero_container h1 {
  font-size: 45px;
  width: 40%;
  text-align: center;
  color: #F8F6F5;
}
@media (max-width: 600px) {
  .hero_container h1 {
    font-size: 40px;
  }
}
.hero_container p {
  font-size: 25px;
  width: 40%;
  text-align: center;
  color: #F8F6F5;
}
@media (max-width: 600px) {
  .hero_container p {
    font-size: 20px;
  }
}
.hero_container div:nth-child(1) {
  position: absolute;
  border: 1px solid #00373E;
  width: 20%;
  height: 20vh;
  box-shadow: 0 0 10px #F8F6F5;
  border-top-left-radius: 200px;
  border-top-right-radius: 360px;
  border-bottom-right-radius: 120px;
  border-bottom-left-radius: 110px;
  transform: skew(30deg) rotateY(45deg);
  left: 15px;
  top: 50px;
  transform: skewY(30deg);
  animation: shape-anim-lt 4s linear infinite alternate;
  background-image: url(/images/shape1.webp);
  background-size: cover;
}
.hero_container div:nth-child(2) {
  position: absolute;
  border: 1px solid #00373E;
  width: 20%;
  height: 20vh;
  box-shadow: 0 0 10px #F8F6F5;
  border-top-left-radius: 70px;
  border-top-right-radius: 250px;
  border-bottom-right-radius: 300px;
  border-bottom-left-radius: 110px;
  transform: skew(30deg) rotateY(45deg);
  left: 15px;
  bottom: 60px;
  transform: skewY(-30deg);
  animation: shape-anim-lb 4s linear infinite 1s alternate;
  background-color: rgb(196, 206, 105);
}
.hero_container div:nth-child(3) {
  position: absolute;
  border: 1px solid #00373E;
  width: 20%;
  height: 20vh;
  box-shadow: 0 0 10px #F8F6F5;
  border-top-left-radius: 300px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 110px;
  border-bottom-left-radius: 250px;
  transform: skew(30deg) rotateY(45deg);
  right: 20px;
  top: 75px;
  transform: skewY(-30deg);
  animation: shape-anim-rt 4s linear infinite 1s alternate;
  background-color: rgb(159, 233, 217);
}
.hero_container div:nth-child(4) {
  position: absolute;
  border: 1px solid #00373E;
  width: 20%;
  height: 20vh;
  box-shadow: 0 0 10px #F8F6F5;
  border-top-left-radius: 250px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 200px;
  border-bottom-left-radius: 300px;
  transform: skew(30deg) rotateY(45deg);
  right: 10px;
  bottom: 50px;
  transform: rotateX(0deg) skewY(30deg);
  animation: shape-anim-rb 4s linear infinite alternate;
  background-image: url(/images/shape3.webp);
  background-size: cover;
}

.how-work {
  width: 100%;
  height: 100vh;
  background-color: #F8F6F5;
  position: relative;
  /*ul'den sonra gelen sabit figure-container*/
}
.how-work .text-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  flex-direction: column;
  width: 60%;
  height: 100%;
  padding: 100px 70px;
  /* ul deki li'ler hover olunca sağ taraftaki figure containerler aşağıdan yukarı kayarak görünür olmalarını istiyorum.
  Başlangıç değerlerini bottom=0 olarak verip hover olunca 100px yaptım. Ama böyle olunca hover olmayan durumlarda sağ taraf boş kalıyordu.
  Bu yüzden ul'den sonra bir figure-container daha tanımlayıp onu görünür yaptım. Ul'hover olunca sabit olanı gizleyip li'lerin hoverlarını aktif ettim. */
}
@media (max-width: 600px) {
  .how-work .text-container {
    padding: 50px 30px;
    gap: 15px;
  }
}
.how-work .text-container h5 {
  font-size: 10px;
  color: #00373E;
}
.how-work .text-container h2 {
  font-size: 45px;
  font-weight: 400;
  width: 70%;
  line-height: 40px;
  color: #00373E;
}
@media (max-width: 600px) {
  .how-work .text-container h2 {
    font-size: 25px;
    line-height: 25px;
  }
}
.how-work .text-container p {
  width: 100%;
  color: #00373E;
}
.how-work .text-container ul {
  /* Burada ul hover olunca ul'den sonra gelen sabit figure-container kayboluyor*/
}
.how-work .text-container ul li {
  list-style: none;
}
.how-work .text-container ul li i {
  color: #00373E;
  display: none;
}
.how-work .text-container ul li a {
  text-decoration: none;
  color: #00373E;
}
.how-work .text-container ul li a:hover + i {
  display: inline-block;
}
.how-work .text-container ul li a:hover + i + .figure-container {
  z-index: 10;
  bottom: 100px;
  transition: all 0.5s ease;
}
.how-work .text-container ul li .figure-container {
  z-index: -10;
  position: absolute;
  right: 50px;
  bottom: 0;
  width: 30%;
  height: 65%;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}
@media (max-width: 600px) {
  .how-work .text-container ul li .figure-container {
    right: 20px;
    width: 50%;
  }
}
.how-work .text-container ul li figure {
  width: 100%;
  height: 70%;
}
.how-work .text-container ul li figure img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.how-work .text-container ul li figure p {
  font-size: 14px;
  color: #00373E;
  margin: 10px;
}
@media (max-width: 600px) {
  .how-work .text-container ul li figure p {
    font-size: 12px;
  }
}
.how-work .text-container ul:hover + .figure-container {
  z-index: -10;
}
.how-work .figure-container {
  position: absolute;
  right: 50px;
  bottom: 100;
  width: 30%;
  height: 65%;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}
@media (max-width: 600px) {
  .how-work .figure-container {
    right: 20px;
    width: 50%;
  }
}
.how-work .figure-container figure {
  width: 100%;
  height: 70%;
}
.how-work .figure-container figure img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.how-work .figure-container figure p {
  font-size: 14px;
  color: #00373E;
  margin: 10px;
}
@media (max-width: 600px) {
  .how-work .figure-container figure p {
    font-size: 12px;
  }
}

.why-us {
  width: 100%;
  height: 100vh;
  background-color: #F8F6F5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-direction: column;
  padding: 0 70px;
}
.why-us_top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
.why-us_top h5 {
  color: #00373E;
}
.why-us_top h2 {
  font-size: 45px;
  color: #00373E;
}
.why-us_top p {
  font-size: 25px;
  color: #00373E;
}
.why-us_bottom {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  gap: 25px;
  grid-template-rows: 25vh;
  /*En alttaki cardın 2 sutunluk kadar yer kaplaması için*/
}
.why-us_bottom .card:nth-of-type(3) {
  grid-column: 1/3;
  height: 25vh;
  /*figure right normalde absolute olup yazı ile birlikte kullanılıuyordu. 
  Ama 4. resimin arka planı geniş olduğu için burada önceden verdiğim width değerini yok sayıp yazı ile üstüste gelmesini önledim. 
  z index ile de yapabilirdim. bunu tercih ettim.*/
}
.why-us_bottom .card:nth-of-type(3) .figure-right {
  width: unset;
}
.why-us_bottom .card:nth-of-type(3) .figure-right img {
  border-radius: 10px;
}
.why-us_bottom .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: white;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00373E;
  position: relative;
}
.why-us_bottom .card:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.why-us_bottom .card .figure-left {
  width: 50%;
  height: 100%;
}
.why-us_bottom .card .figure-left img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.why-us_bottom .card_text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
  width: 200%;
  height: 100%;
}
.why-us_bottom .card_text h5 {
  font-size: 20px;
  color: #00373E;
}
.why-us_bottom .card_text p {
  width: 80%;
  font-size: 15px;
  color: #00373E;
}
.why-us_bottom .card .figure-right {
  position: absolute;
  right: 0;
  width: 30%;
  height: 100%;
}
.why-us_bottom .card .figure-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.faq {
  width: 100%;
  height: 100vh;
  background-color: #F8F6F5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-direction: column;
}
.faq_title {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: px;
}
.faq_title h2 {
  font-size: 45px;
  font-weight: 400;
  color: #00373E;
}
.faq_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  width: 70%;
}
.faq_cards_card {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
}
.faq_cards_card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.faq_cards_card-title p {
  color: #00373E;
}
.faq_cards_card-title .fa-circle-plus {
  color: #00373E;
}
.faq_cards_card-title .fa-circle-minus {
  color: #00373E;
  display: none;
}
.faq_cards_card-title:hover .fa-circle-plus {
  display: none;
}
.faq_cards_card-title:hover .fa-circle-minus {
  display: inline-block;
}
.faq_cards_card input {
  display: none;
  transition: all 1s ease;
}
.faq_cards_card input:checked + .faq_cards_card-detail {
  visibility: visible;
  margin-top: 0;
  transition: all 0.3s ease;
}
.faq_cards_card-detail {
  color: #00373E;
  visibility: hidden;
  margin-top: -40px;
  transition: margin-top 0.3s ease;
}/*# sourceMappingURL=main.css.map */